@import url("/css/general/style.css") all;


.events{
    margin: 7em 1em;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
.lecture{
    padding: 1em;
    color: var(--white-text-color);
    background: var(--primary-color);
    margin-top: 1.3em;
    line-height: 2em;
    border-radius: .5em;
    border: 1px solid #aaa;
    transition: 0.5s;
}

.null{
    color: #111;
    margin: 10em 2em;
    padding: 7em 2em;
    text-align: center;
    background: var(--primary-color);
    line-height: 2em;
    border-radius: 1em;
}